# Files
logsum*
reg_int_range_test*
changelog.txt
codeonly.txt
functions_list.txt
logsum_stats
variable_list.txt
logbook_report*
issues*
logbook_by_epoch_mac.csv
logbook_by_epoch_nix.csv

# Hidden
.DS_Store
._.DS_Store
.logbook_by_epoch.csv
.logsum_results.txt
