# Files
_*
logsum*
changelog.txt
codeonly.txt
functions_list.txt
logsum_stats
variable_list.txt
logbook_report*
issues*
test*
new_features.txt

# Directories
development/
deprecated_versions/
flight_summary_reports/
logbookpro/
logshare/
mac_logsum/
my_logbook/
screenshots/
testing/
time_shift_tests/
word-split_fixing/


# Hidden
.DS_Store
._.DS_Store
.logbook_by_epoch.csv
.logsum_results.txt
.directory
